<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gifts</title>
</head>
<body>
    <h1>SAINT LAURENT</h1>
    <div>
        <img src="<%= gift.img %>" width="145" height="175" ></br>
        <%=gift.name; %> </br>
       <%=gift.description; %></br>
       <%=gift.price; %></br>
        Qty:<%=gift.qty; %>
    </div>
</br>
        <nav>
            <a href="/gifts">Back ◁ </a>
        </nav>
      
</body>
</html>